.header {
  background: url(../img/fond/splash_middle.jpg) center no-repeat;
  background-size: cover;
}

.header-iframe {
  height: 24vw;
  width: 44vw;
}

.header-video {
  position: relative;
  text-align: center;
  z-index: 4;
}

.header-inner {
  font-size: 2.15vw;
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 4vw 0 3.2vw 0;
}

.header-inner-download {
  padding: 1.5vw 0 5vw;
}

.header:after {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vw 0 0;
}

.header-container-button {
  margin: 0 1vw 0 1vw;
  z-index: 3;
  width: 11vw;
  height: 3.9vw;
}

.header-container-button-1 {
  background: url(../img/button/apk.png) no-repeat;
  background-size: cover;
}

.header-container-button-2 {
  background: url(../img/button/app_store.png) no-repeat;
  background-size: cover;
}

.header-container-button-3 {
  background: url(../img/button/google_play.png) no-repeat;
  background-size: cover;
}

@media (max-width: 1141px) {
  .header-iframe {
    height: 39vw;
    width: 60vw;
  }
  .header-container-button {
    width: 15.2vw;
    height: 5.4vw;
  }
}

@media (max-width: 960px) {
  .header-iframe {
    height: 52vw;
    width: 70vw;
  }
  .header-container-button {
    width: 15.2vw;
    height: 5.4vw;
  }
}

@media (max-width: 720px) {
  .header-iframe {
    height: 62vw;
    width: 80vw;
  }
  .header-container-button {
    width: 25.6vw;
    height: 9.1vw;
  }
  .header-inner {
    font-size: 5vw;
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 4vw 0 3.2vw 0;
  }
  .header-inner-download {
    padding: 1.5vw 0 5vw;
  }
}

@media (max-width: 540px) {
  .header-iframe {
    height: 70vw;
    width: 99vw;
  }
  .header-container-button {
    width: 25.6vw;
    height: 9.1vw;
  }
  .header-inner {
    font-size: 5vw;
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 4vw 0 3.2vw 0;
  }
  .header-inner-download {
    padding: 1.5vw 0 5vw;
  }
}

.main {
  background: url(../img/fond/5.jpg) center no-repeat;
  background-size: cover;
}

.main-text {
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 5vw 10vw 5vw  10vw;
}

.main-text-decsr {
  font-size: 1.75vw;
  color: #fff;
  position: relative;
  z-index: 3;
  margin: 3vw 0 0 0;
}

.section-confa {
  background: url(../img/fond/blue_side.jpg) center no-repeat;
  background-size: cover;
}

.section-confa-title {
  font-size: 2.15vw;
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 6vw 0 1vw 0;
}

.section-confa-decsr {
  text-align: center;
  font-size: 1.75vw;
  color: #fff;
  position: relative;
  z-index: 3;
  margin: 3vw 0 3vw 0;
}

.section-confa-iframe {
  height: 24vw;
  width: 44vw;
}

.section-confa-video {
  position: relative;
  text-align: center;
  z-index: 4;
  padding: 0 0 3vw 0;
}

.section-sopra {
  background: url(../img/fond/red_side.jpg) center no-repeat;
  background-size: cover;
}

.footer {
  background: #141c24;
  height: 10vw;
}

.footer-section {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section-img {
  height: 8vw;
  width: 8vw;
}
/*# sourceMappingURL=style.css.map */